<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Passion+One&display=swap" rel="stylesheet">
    {% block extra_links %}{% endblock %}

    <style type="text/tailwindcss">
        @theme {
            --color-radar: #1A249D;
            --color-dark-blue: #081638;
            --color-sec: #efc33c;
            --color-verde: #34C560;
        }
        .shadow-card { box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08); }
        #barra-loading {
        position: fixed;
        top: 0;
        left: 0;
        height: 3px;
        width: 0%;
        background: #efc33c;
        z-index: 9999;
        transition: width 0.3s ease;
        }
    </style>

    {% block extra_style %}{% endblock %}
</head>

{% block body_class %}<body class="bg-gray-100 min-h-screen flex flex-col">{% endblock %}
    <div id="barra-loading"></div>
    {% set autocomplete_id = 'navbar' %}
    {% include 'partials/_navbar.html' %}
    {% include 'partials/_navbar-bottom.html' %}

   <main class="{{ 'flex-grow pb-24 lg:pb-0 pt-20 lg:pt-0' if sticky_navbar else 'flex-grow' }}">
        {% block content %}{% endblock %}
    </main>

    <!--Footer-->
    {% include 'partials/_footer.html' %}


    <script src="{{ url_for('static', filename='js/autocomplete.js') }}"></script>

    <script>
    
    const barra = document.getElementById('barra-loading');

    document.addEventListener('click', (e) => {
        const link = e.target.closest('a');
        if (link && link.href && !link.href.startsWith('#') && link.target !== '_blank') {
            barra.style.width = '70%';
            barra.style.opacity = '1';
        }
    });

    window.addEventListener('load', () => {
        barra.style.width = '100%';
        setTimeout(() => {
            barra.style.opacity = '0';
            setTimeout(() => barra.style.width = '0%', 300);
        }, 200);
    });
    </script>
    {% block extra_js %}{% endblock %}
</body>
</html>