<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Passion+One&display=swap" rel="stylesheet">

    <style type="text/tailwindcss">
        @theme {
            --color-radar: #1A249D;
            --color-dark-blue: #081638;
            --color-sec: #efc33c;
            --color-verde: #34C560;
        }
        .shadow-card { box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08); }
    </style>

    {% block extra_style %}{% endblock %}
</head>

<body class="bg-gray-100 min-h-screen flex flex-col">
    {% include 'partials/_navbar.html' %}

    <main class="flex-grow">
        {% block content %}{% endblock %}
    </main>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const btn = document.getElementById("btn-deputados");
            const menu = document.getElementById("menu-deputados");
            const seta = document.getElementById("seta");

            if (btn && menu) {
                seta.addEventListener("click", (e) => {
                    e.stopPropagation();
                    menu.classList.toggle("hidden");
                    seta.classList.toggle("rotate-180");
                });

                document.addEventListener("click", (e) => {
                    if (!menu.contains(e.target) && !btn.contains(e.target)) {
                        menu.classList.add("hidden");
                        seta.classList.remove("rotate-180");
                    }
                });
            }
        });
    </script>
    {% block extra_js %}{% endblock %}
</body>
</html>