{% extends 'base.html' %}
{% block title %}Partidos{% endblock %}

{% block content %}
    <!-- Conteúdo da página ⬇️ -->
    <main class="flex flex-col flex-1 text-dark-blue">
        <!-- Container ⬇️ -->
        <div class="w-full mx-auto max-w-[100rem] my-20">
            <h1 class="text-4xl text-radar font-bold uppercase">Selecione um partido do acre</h1>
        </div>
        <section class="bg-gray-200 w-full flex-1">
            <!-- Container ⬇️ -->
            <div class="w-full mx-auto max-w-[100rem] mt-20">
                <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 gap-6">
                    <a href="/graficos"
                        class="bg-white aspect-square rounded-lg shadow-md p-5 flex flex-col items-center justify-center text-xl font-semibold hover:bg-gray-100 transition duration-300 gap-5">
                        <div class="w-full flex flex-1 overflow-hidden sm:p-2 md:p-4">
                            <img src="../static/img/partidos/pp.png" alt="PP"
                                class="m-auto max-w-full max-h-full object-contain">
                        </div>
                        <p class="truncate max-w-full">PP</p>
                    </a>

                    <a href="#"
                        class="bg-white aspect-square rounded-lg shadow-md p-5 flex flex-col items-center justify-center text-xl font-semibold hover:bg-gray-100 transition duration-300 gap-5">
                        <div class="w-full flex flex-1 overflow-hidden sm:p-2 md:p-4">
                            <img src="../static/img/partidos/republicanos.png" alt="Republicanos"
                                class="m-auto max-w-full max-h-full object-contain">
                        </div>
                        <p class="truncate max-w-full">Republicanos</p>
                    </a>

                    <a href="#"
                        class="bg-white aspect-square rounded-lg shadow-md p-5 flex flex-col items-center justify-center text-xl font-semibold hover:bg-gray-100 transition duration-300 gap-5">
                        <div class="w-full flex flex-1 overflow-hidden sm:p-2 md:p-4">
                            <img src="../static/img/partidos/uniao-brasil.png" alt="UNIÃO"
                                class="m-auto max-w-full max-h-full object-contain">
                        </div>
                        <p class="truncate max-w-full">UNIÃO</p>
                    </a>

                </div>
            </div>
        </section>
    </main>

{% endblock %}