<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de Registros</h1>
    {% if dep %}
        {% for d in dep %}
            <p>{{ dep[d] }}</p>
        {% endfor %}
        <img src="{{ dep['imagem_deputado'] }}" alt="">
    {% else %}
        <table border="1">
        <tr>
            <th>ID</th>
            <th>Nome</th>
        </tr>
        
        {% for deputado in deputados %}
        <tr>
            <td>{{ deputado['cd_deputado'] }}</td>
            <td>{{ deputado['nome'] }}</td>
            <td>{{ deputado['nome_eleitoral'] }}</td>
            <td>{{ deputado['email'] }}</td>
            <td><img src="{{ deputado['imagem_deputado'] }}" alt=""></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</body>
</html>